.App {
  font-family: sans-serif;
  text-align: center;
}
table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
}

th {
  border-bottom: 2px solid black;
}

tr {
  border: 1px black;
}
td {
  text-align: center;
  border-bottom: 1px black;
}
